.affix {
      top: 0;
    
      width: 100%;

  }
  h1 {
  margin: 0;
  padding: 0;
}h2 {
  margin: 0;
  padding: 0;
}h3{
  margin: 0;
  padding: 0;
}

  .affix + .container-fluid {
      padding-top: 70px;
  }
  #above{
  	float: right;
  }
body {margin:0;}
.logo{
	height: 40px;
	width: 40px;
	padding-top: 12px;
	padding-left: 12px;

	
}
.blacklogo{
	padding-left: 550px;
	padding-top: 25px;
	height: 200px;
}
.n{
	float: right;
}
.back{
	background-image: url("back.jpg") ;
    width: 100%;
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    margin-top: -20px;
  
   
}
.tech{
  background-image: url("footer.jpg") ;
    width: 100%;
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
   /* opacity: .4;*/
  
  
   
}


.nav navbar-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: blue;s
     opacity: .4;
    position: fixed;
    top: 0;
    width: 100%;
}

#home{
    float: right;
}



