/*
 
  }
body {margin:0;}
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #4CAF50;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}




}



.blacklogo{
  padding-left: 550px;
  padding-top: 25px;
  height: 200px;
}

/*downbutton*/

/*downbutton*/
./*back{
	background-image: url("back.jpg");
    width: 100%;
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    margin-top: -20px;
  
  
   
}
.tech{
  background-image: url("footer.jpg") ;
    width: 100%;
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
        margin-top: -20px;
        position: static;
   /* opacity: .4;*/
 }*/
  
  


/*.nav navbar-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: blue;s
     opacity: .4;
    position: fixed;
    top: 0;
    width: 100%;
}
*/

*/




/*newwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww*/
.affix {
      top: 0;
    
      width: 100%;
  
  }
 
  .affix + .container-fluid {
      padding-top: 70px;
  }

.logo{
  height: 25px;
  width: 25px;
}

 body {
      position: relative; 
  }
  #section1 {padding-top:50px;height:500px;color: #fff; background-color: #1E88E5;}
  #section2 {padding-top:50px;height:500px;color: #fff; background-color: #673ab7;}
  #section3 {padding-top:50px;height:500px;color: #fff; background-color: #ff9800;}
  #section41 {padding-top:50px;height:500px;color: #fff; background-color: #00bcd4;}
  #section42 {padding-top:50px;height:500px;color: #fff; background-color: #009688;}

  .section1{
  background-image: url("back.jpg");
    width: 100%;
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    margin-top: -20px;
  }


.blacklogo{
  padding-left: 550px;
  padding-top: 25px;
  height: 200px;
}